<div class="row d-flex justify-content-center">
    <div class="col-12">
        <div class="card">
            <div class="card-body text-center">
                <div class="row el-element-overlay">
                    <div class="col-lg- col-md-6">
                        <div class="card">
                            <div class="el-card-item">
                                <div class="el-card-avatar el-overlay-1"> <img src="./assets/images/icon/registro.svg" alt="user" width="30%" />
                                </div>
                                <div class="el-card-content">
                                    <h3 class="box-title">Solicitar Mesa de ayuda</h3> 
                                    <a routerLink="../msy_frm">
                                        <button class="btn btn-primary"><small>Registrar una nueva mesa de ayuda</small></button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg- col-md-6">
                        <div class="card">
                            <div class="el-card-item">
                                <div class="el-card-avatar el-overlay-1"> <img src="./assets/images/icon/registros.svg" alt="user" width="30%" />
                                </div>
                                <div class="el-card-content">
                                    <h3 class="box-title">Historial de solictudes</h3> 
                                    <a routerLink="../msy_solicitudes">
                                        <button class="btn btn-primary">
                                        <small>Consultar el historico de mesas de ayuda</small></button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>